<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Form</h1>

<form action="http://localhost:8080/meeting-manager/create-form" method="get">
    <select name="userID">
        <option value=""></option>
        <th:block th:each="user: ${users}">
            <option th:value="${user.id}" th:text="${user.name}"></option>
        </th:block>
    </select>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>

<th:block th:if="${userName != null}">

    <p th:text="'Book a meeting with ' + ${userName}"></p>

    <form action="http://localhost:8080/meeting-manager/create-form" method="post">
        <input type="hidden" name="userID" th:value="${userID}">
        <input type="hidden" name="userName" th:value="${userName}">

        <label for="meetingDate">Select meeting date:</label>
        <input type="date" id="meetingDate" name="meetingDate" value="2023-04-15">

        <label for="appt">Select meeting time:</label>
        <input type="time" id="appt" name="appt">

        <input type="submit">
    </form>
</th:block>
</body>
</html>