<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<ul>
    <li><a href="http://localhost:8080/meeting-manager/meetings">Get user meetings (Method 1. Server stream call)</a></li>
    <li><a href="http://localhost:8080/meeting-manager/create-form">Add new meeting for user (Method 2. Unary call)</a></li>
    <li><a href="http://localhost:8080/meeting-manager/users">Not implemented (Method X. --------)</a></li>
</ul>

</body>
</html>